<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/registerstyle.css' %}">
    <title>Document</title>
</head>
<body>
    <section class="main" >
        <div class="main__titile">TEGELS</div>
        <div class="main__ix"><img src="{% static 'img/крест 1.svg' %}" alt="X"></div>
        <form action="" method="POST">
            {% csrf_token %}
<!--            <input type="text" name = "name" placeholder = "name">-->
<!--            <input type="email" name="email" placeholder="email">-->
<!--            <input type="password" name = "password" placeholder = "password">-->
<!--            <input type="password" name = "confirm__password" placeholder = "confirm password">-->
            {{form}}
            <input type="submit" class = "submit"></input>
        </form>
        <a href="/login" class="main__have">Already have an account? Sign in</a>
    </section>
</body>
</html>