<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/scanstyle.css' %}">
    <title>utily</title>
</head>
<body>
    <header class="header">
        <div class="header__wrap">
            <div class="header__logo"><img src="{% static 'img/logi.svg' %}" alt=""></div>
            <div class="header__name">PoliG</div>
            <div class="header__login"><a href=""><img src="{% static 'img/login.svg' %}" alt=""></a></div>
        </div>
    </header>
    <section class="main">
        <div class="main__name">Сканирование сети на открытые порты</div>
        <div class="main__opisanie">санирует сеть На открытые порты и основные уязвимости</div>
        <form action="" class="main__form" method="post">
            <input id="main__name1" type="text" name="name1" placeholder="начальный ip"/>
            <input id="main__name2" type="text" name="name2" placeholder = "конечный ip"/>
            <input id="main__name3" type="text" name="name3" placeholder="начальный порт"/>
            <input id="main__name4" type="text" name="name4" placeholder = "конечный порт"/>
            <button type="submit">USE</button>
        </form>
    </section>
</body>
</html>