<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
    <title>Document</title>
</head>
<body>
    <section class="main">
        <div class="main__titile">TEGELS</div>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="main__conf">confirm</button>
        </form>
        <p class = "main__text-mail">Enter the code that was sent to your email</p>
    </section>
</body>
</html>